compact sentimental analysis json flow.txt
[{"id":"27f07831.d8dde8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e420aace.528ce8","type":"feedparse","z":"27f07831.d8dde8","name":"","url":"http://rss.cnn.com/rss/edition.rss","interval":"1","x":170,"y":240,"wires":[["abf28480.c8cae8"]]},{"id":"abf28480.c8cae8","type":"sentiment","z":"27f07831.d8dde8","name":"analyzer","property":"payload","x":340,"y":340,"wires":[["62ff7508.95436c","45865586.28ddec","dafef4e1.e660a8","c6783cbd.c293c","fe26521e.81f88"]]},{"id":"62ff7508.95436c","type":"function","z":"27f07831.d8dde8","name":"parse","func":"if(msg.sentiment.score>0)\nmsg.payload=\"the sentiment of the news is positive and value is:\"+msg.sentiment.score\nelse if(msg.sentiment.score<0)\nmsg.payload=\"the sentiment of the news is negative and value is:\"+msg.sentiment.score\nelse\nmsg.payload=\"the sentiment of the news is neutral and value is:\"+msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["296178b3.65e7b8"]]},{"id":"45865586.28ddec","type":"function","z":"27f07831.d8dde8","name":"","func":"msg.payload=msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["3458dd.10bd1724"]]},{"id":"3458dd.10bd1724","type":"ui_gauge","z":"27f07831.d8dde8","name":"","group":"56c9e24f.bb200c","order":4,"width":"13","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-10","seg2":"10","x":690,"y":200,"wires":[]},{"id":"fe26521e.81f88","type":"ui_audio","z":"27f07831.d8dde8","name":"","group":"56c9e24f.bb200c","voice":"","always":"","x":700,"y":300,"wires":[]},{"id":"dafef4e1.e660a8","type":"function","z":"27f07831.d8dde8","name":"fn2","func":"msg.payload=msg.sentiment\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["b48883cb.c94d4"]]},{"id":"b48883cb.c94d4","type":"file function","z":"27f07831.d8dde8","name":"","filename":"D:/test/data.json","reloadfile":true,"outputs":1,"x":710,"y":400,"wires":[[]]},{"id":"296178b3.65e7b8","type":"ui_text","z":"27f07831.d8dde8","group":"56c9e24f.bb200c","order":6,"width":"13","height":"1","name":"","label":"sentiment analysis","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":80,"wires":[]},{"id":"c6783cbd.c293c","type":"debug","z":"27f07831.d8dde8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment","targetType":"msg","x":450,"y":460,"wires":[]},{"id":"56c9e24f.bb200c","type":"ui_group","z":"","name":"watson news app","tab":"4483bc70.9b3a94","order":1,"disp":true,"width":"6","collapse":false},{"id":"4483bc70.9b3a94","type":"ui_tab","z":"","name":"RSIP","icon":"dashboard","disabled":false,"hidden":false}]