compact json flow.txt
[{"id":"554d3259.ead01c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a09fa7f.5c5674","type":"ui_form","z":"554d3259.ead01c","name":"","label":"","group":"56c9e24f.bb200c","order":2,"width":"13","height":"1","options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":300,"wires":[["f89af3c9.b338f"]]},{"id":"f89af3c9.b338f","type":"function","z":"554d3259.ead01c","name":"","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["3ce7a1a1.857a5e"]]},{"id":"3ce7a1a1.857a5e","type":"watson-discovery-v1","z":"554d3259.ead01c","name":"newsapp","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/1442b21a-c515-46cc-9406-deace5636e64","x":460,"y":180,"wires":[["cc76a7c2.0e18d8"]]},{"id":"cc76a7c2.0e18d8","type":"function","z":"554d3259.ead01c","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["2fd7bfa0.f9e04"]]},{"id":"2fd7bfa0.f9e04","type":"ui_text","z":"554d3259.ead01c","group":"56c9e24f.bb200c","order":3,"width":"30","height":"5","name":"","label":"results","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":320,"wires":[]},{"id":"56c9e24f.bb200c","type":"ui_group","z":"","name":"watson news app","tab":"4483bc70.9b3a94","order":1,"disp":true,"width":"6","collapse":false},{"id":"4483bc70.9b3a94","type":"ui_tab","z":"","name":"RSIP","icon":"dashboard","disabled":false,"hidden":false}]